 <!-- <div >
  <Button class="btn btn-danger" (click)="logout()">Logout</Button>
</div>  -->

<app-menubar></app-menubar>

<br>


<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12 col-sm-4">

            <todo-category></todo-category>

        </div>

        <div class="col-xs-12 col-sm-8">

            <todo-header></todo-header>

            <div>
                <span>
                    <todo-counts></todo-counts>
                </span>
            </div>
          
            <br>

            <todo-detail></todo-detail>

        </div>

    </div>

    <br/>

</div>
